name: Daily Thirukural Sender

on:
  schedule:
    - cron: '0 8 * * *'
  workflow_dispatch:

jobs:
  send-kural:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository code
      uses: actions/checkout@v4

    - name: Set up Python 3.11
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Execute Kural Sender Script
      env:
        APP_PASSWORD: ${{ secrets.APP_PASSWORD }}

        SENDER_EMAIL: ${{ secrets.SENDER_EMAIL }}
        RECEIVER_EMAILS: ${{ secrets.RECEIVER_EMAILS }}
      run: python kural_sender.py 
